@import './custom';
@import './conversation';

.img-in-search {
    width: 36px;
    height: 36px;
    object-fit: cover;
}

.img-in-notify {
    width: 66px;
    height: 66px;
    object-fit: cover;
}

.img-in-sidebar {
    width: 28px;
    height: 28px;
    object-fit: cover;
}

.img-in-create-post {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.set-upload-img input[type="file"] {
    display: none;
}

.ql-editor {
    font-size: 16px;
    height: 160px;
}